/* TODO: Add comments */

.masonry-layout {
    column-count: 2;
    padding: 10px;
}

/* Child <div></div> of ID selector */
.masonry-layout div {
    /* background-color: #f1f1f1; */
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    break-inside: avoid;
    page-break-inside: avoid;
    padding: 20px;
    margin-bottom: 20px;
    
}